* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.container {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 90px;
  margin-bottom: 40px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  margin-bottom: 20px;
}

span {
  color: black;
  font-weight: 700;
}

h2 {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 32px;
}

.email-form {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.email-input {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid hsl(223, 100%, 88%);
  width: 425px;
  height: 56px;
}

::placeholder {
  color: hsl(223, 100%, 88%);
  padding: 20px;
}

.btn:link,
.btn:visited {
  width: 200px;
  background-color: #4f7df3;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 7px 15px 2px hsl(223, 87%, 63%, 0.3);
}

.btn:hover,
.btn:active {
  background-color: #8ba7ec;
}

.image {
  margin-top: 48px;
  margin-bottom: 48px;
  max-height: 100%;
  max-width: 100%;
}

.socials {
  display: flex;
}
.copyright {
  margin-top: 10px;
  font-size: 12px;
  color: hsl(0, 0%, 59%);
}

.error-msg {
  position: absolute;
  color: hsl(354, 100%, 66%);
  font-style: italic;
  bottom: -20px;
  left: 30px;
  font-size: 12px;
  font-weight: 300;
}

.hidden {
  display: none;
}